@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

button{
    color: black;
    background-color: brown;
    font-size: 32px;
    padding: 8px;
    transition-duration: 0.8s;
    margin: 64px;
}

input{
    font-size: 32px;
    padding: 8px;
}